#Advance
## EDA

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
marketing_df = pd.read_csv('https://raw.githubusercontent.com/hadimaster65555/dataset_for_teaching/main/dataset/marketing_campaign_response_model/marketing_campaign.csv', sep=';')

In [ ]:
marketing_df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0

In [ ]:
marketing_df.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,...,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,...,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

In [ ]:
marketing_df.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [5]:
marketing_df2 = marketing_df.drop(["Z_CostContact", "Z_Revenue"], axis = 1)

In [6]:
marketing_df2.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,10,4,7,0,0,0,0,0,0,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,1,2,5,0,0,0,0,0,0,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,2,10,4,0,0,0,0,0,0,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,0,4,6,0,0,0,0,0,0,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,3,6,5,0,0,0,0,0,0,0

In [7]:
marketing_df2.corr()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
ID,1.000000,0.000028,0.013095,0.002406,-0.002580,-0.046524,-0.022878,0.004600,-0.004437,-0.024475,...,-0.003440,-0.014927,-0.007446,-0.036040,-0.025387,-0.007517,-0.021614,-0.015061,0.033883,-0.021968
Year_Birth,0.000028,1.000000,-0.161791,0.230176,-0.352111,-0.019871,-0.157773,-0.017917,-0.030872,-0.041625,...,-0.121275,-0.128272,0.121139,0.061774,-0.060510,0.007123,-0.005930,-0.006539,-0.030128,0.021325
Income,0.013095,-0.161791,1.000000,-0.428669,0.019133,-0.003970,0.578650,0.430842,0.584633,0.438871,...,0.589162,0.529362,-0.553088,-0.016174,0.184400,0.335943,0.276820,0.087545,-0.027225,0.133047
Kidhome,0.002406,0.230176,-0.428669,1.000000,-0.036133,0.008827,-0.496297,-0.372581,-0.437129,-0.387644,...,-0.502237,-0.499683,0.447846,0.014674,-0.161600,-0.205634,-0.172339,-0.081716,0.040207,-0.080008
Teenhome,-0.002580,-0.352111,0.019133,-0.036133,1.000000,0.016198,0.004846,-0.176764,-0.261160,-0.204187,...,-0.110769,0.050695,0.134884,-0.042677,0.038886,-0.191050,-0.140090,-0.015605,0.003138,-0.154446
Recency,-0.046524,-0.019871,-0.003970,0.008827,0.016198,1.000000,0.016064,-0.004306,0.023056,0.001079,...,0.025110,0.000799,-0.021445,-0.032991,0.018826,0.000129,-0.019283,-0.001781,0.013231,-0.198437
MntWines,-0.022878,-0.157773,0.578650,-0.496297,0.004846,0.016064,1.000000,0.389637,0.562667,0.399753,...,0.635226,0.642100,-0.320653,0.062202,0.373286,0.472613,0.354133,0.205907,-0.039007,0.247254
MntFruits,0.004600,-0.017917,0.430842,-0.372581,-0.176764,-0.004306,0.389637,1.000000,0.543105,0.594804,...,0.487917,0.461758,-0.418383,0.014727,0.010152,0.215833,0.194748,-0.009773,-0.005166,0.125289
MntMeatProducts,-0.004437,-0.030872,0.584633,-0.437129,-0.261160,0.023056,0.562667,0.543105,1.000000,0.568402,...,0.723827,0.479659,-0.539470,0.018272,0.102912,0.373769,0.309761,0.043033,-0.023483,0.236335
MntFishProducts,-0.024475,-0.041625,0.438871,-0.387644,-0.204187,0.001079,0.399753,0.594804,0.568402,1.000000,...,0.534478,0.459855,-0.446003,0.000357,0.016843,0.199578,0.260762,0.002577,-0.020953,0.111331
MntSweetProducts,-0.007642,-0.018133,0.440744,-0.370673,-0.162475,0.022670,0.386581,0.567164,0.523846,0.579870,...,0.490924,0.448756,-0.423294,0.001530,0.028641,0.259590,0.241818,0.009985,-0.022485,0.117372
MntGoldProds,-0.013438,-0.061818,0.325916,-0.349595,-0.021725,0.016693,0.387516,0.392995,0.350609,0.422875,...,0.437697,0.381678,-0.250719,0.123091,0.022268,0.181021,0.166396,0.049990,-0.030861,0.139850
NumDealsPurchases,-0.037166,-0.060846,-0.083101,0.221798,0.387741,-0.001098,0.010940,-0.132114,-0.122415,-0.139361,...,-0.008617,0.068879,0.347633,-0.023109,0.015594,-0.183248,-0.123244,-0.037695,0.000420,0.002238
NumWebPurchases,-0.018924,-0.145040,0.387878,-0.361647,0.155500,-0.010726,0.542265,0.296735,0.293761,0.293681,...,0.378376,0.502713,-0.055846,0.042176,0.155903,0.138684,0.155143,0.034188,-0.016310,0.148730
NumCatalogPurchases,-0.003440,-0.121275,0.589162,-0.502237,-0.110769,0.025110,0.635226,0.487917,0.723827,0.534478,...,1.000000,0.518738,-0.520364,0.104730,0.139247,0.322321,0.308097,0.099852,-0.020453,0.220810
NumStorePurchases,-0.014927,-0.128272,0.529362,-0.499683,0.050695,0.000799,0.642100,0.461758,0.479659,0.459855,...,0.518738,1.000000,-0.428473,-0.067577,0.179379,0.214790,0.183249,0.085189,-0.016524,0.039363
NumWebVisitsMonth,-0.007446,0.121139,-0.553088,0.447846,0.134884,-0.021445,-0.320653,-0.418383,-0.539470,-0.446003,...,-0.520364,-0.428473,1.000000,0.061211,-0.032126,-0.278113,-0.192502,-0.007196,0.019769,-0.003987
AcceptedCmp3,-0.036040,0.061774,-0.016174,0.014674,-0.042677,-0.032991,0.062202,0.014727,0.018272,0.000357,...,0.104730,-0.067577,0.061211,1.000000,-0.079512,0.080316,0.094751,0.072020,0.008415,0.254258
AcceptedCmp4,-0.025387,-0.060510,0.184400,-0.161600,0.038886,0.018826,0.373286,0.010152,0.102912,0.016843,...,0.139247,0.179379,-0.032126,-0.079512,1.000000,0.306526,0.251300,0.292210,-0.027611,0.177019
AcceptedCmp5,-0.007517,0.007123,0.335943,-0.205634,-0.191050,0.000129,0.472613,0.215833,0.373769,0.199578,...,0.322321,0.214790,-0.278113,0.080316,0.306526,1.000000,0.403078,0.221533,-0.009419,0.326634
AcceptedCmp1,-0.021614,-0.005930,0.276820,-0.172339,-0.140090,-0.019283,0.354133,0.194748,0.309761,0.260762,...,0.308097,0.183249,-0.192502,0.094751,0.251300,0.403078,1.000000,0.175315,-0.025499,0.293982
AcceptedCmp2,-0.015061,-0.006539,0.087545,-0.081716,-0.015605,-0.001781,0.205907,-0.009773,0.043033,0.002577,...,0.099852,0.085189,-0.007196,0.072020,0.292210,0.221533,0.175315,1.000000,-0.011334,0.169293
Complain,0.033883,-0.030128,-0.027225,0.040207,0.003138,0.013231,-0.039007,-0.005166,-0.023483,-0.020953,...,-0.020453,-0.016524,0.019769,0.008415,-0.027611,-0.009419,-0.025499,-0.011334,1.000000,-0.001707
Response,-0.021968,0.021325,0.133047,-0.080008,-0.154446,-0.198437,0.247254,0.125289,0.236335,0.111331,...,0.220810,0.039363,-0.003987,0.254258,0.177019,0.326634,0.293982,0.169293,-0.001707,1.000000